<div id="header" class="header">
  <div class="text-center">
    <%= image_tag "logo_main.png" %>
  </div>
  <br>
  <div class="text-center">
    <div class="header-items">
      <ul id="item-1page">
        <p>как это работает?</p>
      </ul>
      <ul id="item-2page">
        <p>наши коучи</p>
      </ul>
      <ul id="item-3page">
        <p>цены</p>
      </ul>
      <ul id="item-4page">
        <p>зачем мне это?</p>
      </ul>
      <ul id="item-5page">
        <p>я - тренер</p>
      </ul>
      <%# <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <%# </li> %>
    </div>
  </div>
</div>
<br>
<div  style="padding-right:140px; padding-left:140px;">
  <div id="1_page" class="container" style="display:flex; justify-content:space-around; height:70vh; align-items:center;">
    <div class="1_page_text">
      <h1 style="font-weight: 900; font-size: 65px; line-height: 85%;">Персональный фитнес коуч онлайн</h1>
      <p><i class="fa-solid fa-arrow-right"></i> в удобное для тебя время</p>
      <p><i class="fa-solid fa-arrow-right"></i> не за бешеные бабки</p>
      <p><i class="fa-solid fa-arrow-right"></i> не надо ехать на треню в метро
        (и даже трамвае)</p>
      <p><i class="fa-solid fa-arrow-right"></i> напрягаться надо
        (но немного и в удовольствие)</p>
      <p style="font-weight: 900"><i class="fa-solid fa-arrow-right"></i> первое занятие – бесплатно </p>
      <button type="button" class="btn btn-green">Го на спорт</button>
    </div>
    <div class="1_page_video">
      <%= image_tag "video_place.png", width: 650 %>
    </div>
  </div>
  <br>
  <div id="2_page" class="container" style="display:flex; flex-direction: column; height:40vh; align-items: center;">
    <div class="2_page_text text-center">
      <h1><strong>Как это работает?</strong></h1>
      <p>55 минут драйва с настоящим профи тренером, который проведёт с тобой комплексную тренировку.</p>
      <p>Пс-с. Да, если не зайдет – можно просто отключить интернет.  </p>
    </div>
    <div class="page_2_graph">
      <div class="graph 1_el">
        <div class="circle-green">
          <h2>01</h2>
        </div>
        <p> Подбираем тренера</p>
      </div>
      <div class="arrow">
        <%= image_tag "arrow.png", width: 350%>
      </div>
      <div class="graph 2_el">
        <div class="circle-green">
          <h2>02</h2>
        </div>
        <p> Назначаем удобное время</p>
      </div>
      <div class="arrow">
        <%= image_tag "arrow.png", width: 350%>
      </div>
      <div class="graph 3_el">
        <div class="circle-green">
          <h2>03</h2>
        </div>
        <p> Перед занятием высылаем ссылку на видео-треню</p>
      </div>
    </div>
  </div>
  <br>
  <div id="3_page" class="container" style="height:80vh">
    <h1 style="font-weight: 900; text-align:center;">Наши коучи</h1>
    <br>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">сила</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">функционалка</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">растяжка</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">мфр</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">фитбокс</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">после родов</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark btn-filter" href="#">реабилитация</a>
        </li>
      </ul>
    </div>
    <br>
    <div class="page_3_cards">

      <% @coaches.each do |coach| %>

              <div class="card-coach">
                      <%# <div data-controller="coach"> %>
                            <%# <div data-action="click->coach#changepic" data-coach-index-value="1">
                                <div data-coach-target="card_to_click"><%= cl_image_tag coach.photos[0].key, height: 270%>
                                <%# <div data-coach-target="card_to_click"><%= cl_image_tag coach.photos[1].key, height: 270%>
                            <%# </div> %>
                      <%# </div> %>
                <div class="figure">
                  <div class="image-main"> <%= cl_image_tag coach.photos[0].key, height: 270%></div>
                  <div class="image-hover"> <%= cl_image_tag coach.photos[1].key, height: 270%></div>
                </div>

                <div class="card-body">
                  <h5 class="card-title"> <%= coach.name %> </h5>

                </div>

            </div>
      <% end %>
    </div>

  </div>
  <br>
  <div id="4_page" class="container" style="height:70vh">
    <div class="page_4_text text-center">
      <h1>Пробное занятие – бесплатно</h1>
      <p>Без предоплаты. Полноценная тренировка длительностью 30 минут с индивидуально подобранным тренером</p>
    </div>
    <div class="page_4_cards">
      <div class="card-price">
        <div class="card-body">
          <p class="card-text">1 тренировка</p>
          <h5 class="card-title">0 €</h5>
          <p class="card-text"> Первая тренировка</p>
          <p class="card-text">Занятие - консультация <br> с нашим крутым <br>хэд-коучем</p>
          <hr class="solid">
          <p class="card-text">Тренировка (мин)</p>
          <div class="train-length-wrapper">
            <div class="train-length-item">
              <h5>30</h5>
            </div>
            <%# <div class="train-length-item-active"> %>
              <%# <h5>
                60
              </h5>
            </div> %>
          </div>
          <a class="btn btn-light w-100">Хвать!</a>
        </div>
      </div>
      <div class="card-price">
        <div class="card-body">
          <p class="card-text">24 тренировки</p>
          <h5 class="card-title">223.20 €</h5>
          <p class="card-text"> 9.30 € за тренировку</p>
          <p class="card-text"> Выгодная опция для начинающей спортсменки</p>
          <hr class="solid">
          <p class="card-text">Тренировка (мин)</p>
          <div class="train-length-wrapper">
            <div class="train-length-item">
              <h5>30</h5>
            </div>
            <div class="train-length-item-active">
              <h5>
                60
              </h5>
            </div>
          </div>
          <a class="btn btn-light w-100">Купить</a>
        </div>
      </div>
      <div class="card-price">
        <div class="card-body">
          <p class="card-text">36 тренировок</p>
          <h5 class="card-title">306 €</h5>
          <p class="card-text"> 8.50 € за тренировку</p>
          <p class="card-text"> Крутая опция для начинающей спортсменки</p>
          <hr class="solid">
          <p class="card-text">Тренировка (мин)</p>
          <div class="train-length-wrapper">
            <div class="train-length-item">
              <h5>30</h5>
            </div>
            <div class="train-length-item">
              <h5>
                60
              </h5>
            </div>
          </div>
          <a class="btn btn-light w-100">Купить</a>
        </div>
      </div>
      <div class="card-price">
        <div class="card-body">
          <p class="card-text">72 трeнировки</p>
          <h5 class="card-title">568 €</h5>
          <p class="card-text"> 7.90 € за тренировку</p>
          <p class="card-text">Экономная опция для начинающей спортсменки</p>
          <hr class="solid">
          <p class="card-text">Тренировка (мин)</p>
          <div class="train-length-wrapper">
            <div class="train-length-item">
              <h5>30</h5>
            </div>
            <div class="train-length-item-active">
              <h5>
                60
              </h5>
            </div>
          </div>
          <a class="btn btn-light w-100">Купить</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="5_page" class="container" style="height:80vh">
    <h1 class="text-center pb-4">Зачем это мне?</h1>
    <div class="page_5_cards">
      <div class="card davay_chestno" style="width: 350px;">
        <%= image_tag "couchcoach_1_davai_chestno.jpg"%>
          <div class="card-body">
            <h5 class="card-title">Давай честно</h5>
            <p class="card-text" style = "line-height: 1.2">Заниматься самостоятельно – сложно. Особенно по началу. Наш мозг придумает 1000 причин, почему позаниматься можно и завтра/никогда. Тренер поможет тебе «не сбиваться» с пути.
          </div>
      </div>
      <div class="card davay_chestno" style="width: 350px">
          <%= image_tag "couchcoach_2_davai_chestno.jpg"%>
            <div class="card-body">
              <h5 class="card-title">Безопасность и польза</h5>
              <p class="card-text"style = "line-height: 1.2">Все наши коучи – крутые профессионалы. Да, с ними весело, но еще они по-взрослому следят за тем, как ты выполняешь упражнения. Чтобы без травм и усилий впустую.
            </div>
      </div>
      <div class="card davay_chestno" style="width: 350px;">
            <%= image_tag "couchcoach_3_davai_chestno.jpg"%>
            <div class="card-body">
              <h5 class="card-title">Всегда под рукой</h5>
              <p class="card-text"style = "line-height: 1.2">Бывает, что рррраааз – и захотелось потренить. Если тебе срочно надо в планку – мы найдем классного коуча здесь и сейчас.
            </div>
      </div>
      <div class="card davay_chestno" style="width: 350px;">
              <%= image_tag "couchcoach_4_davai_chestno.jpg"%>
              <div class="card-body">
                <h5 class="card-title">Нужен только он</h5>
                <p class="card-text"style = "line-height: 1.2">Ин-тер-нет. И любой девайс, который имеет туда выход. Тренироваться можно даже без фитнес-коврика, прямо на своем родном половичке.
              </div>
      </div>
      <div class="card davay_chestno" style="width: 350px;">
              <%= image_tag "couchcoach_5_davai_chestno.jpg"%>
              <div class="card-body">
                <h5 class="card-title">Можно дома. И не только</h5>
                <p class="card-text"style = "line-height: 1.2">Ты можешь заниматься в отеле, на пляже и в зале! Все, что нужно – взять с собой телефон и подключиться на звонок.
              </div>
      </div>

      <div class="card davay_chestno" style="width: 350px;">
              <%= image_tag "couchcoach_6_davai_chestno.jpg"%>
              <div class="card-body">
                <h5 class="card-title">Не зашел коуч? Бывает!</h5>
                <p class="card-text"style = "line-height: 1.2">Наши заботливые менеджеры познакомят тебя с другим коучем. Мы найдем тебе того самого.
              </div>
       </div>

     </div>
  </div>
  <br>
  <div id="7_page" class="container" style="height:60vh">
              <div class="text-center page-content">
                <div class="page-text">
                  <h1 style="font-weight:800"><strong>Для тренеров и коучей</strong></h1>
                  <p>Если ты талантливый коуч, любишь диваны и людей – оставь свои контакты, мы тебе напишем. </p>
                  <p>У нас классные условия и крутые офисы по всему миру! Ведь, когда работаешь удаленно, офис может быть везде, где работает связь.</p>
                  <a href="#" class="btn btn-green">
                    <h6>Хочу к вам</h6>
                  </a>
                </div>
              </div>
  </div>
  <br>
  <div id="8_page" class="container" style="height:100vh">
        <div class="row">
            <div class="col-3 image_last">
              <%= image_tag "last_page_couch.png"%>
            </div>
            <div class="col-9">
              <h1><strong> С дивана на треню</strong></h1>
              <h1><strong> С трени на диван</strong></h1>
                  <div style="display:flex">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                  </div>
            </div>
         </div>
  </div>


</div>


        <script>
          const header1 = document.getElementById('item-1page');

          header1.addEventListener('click', function() {
              const element = document.getElementById("2_page");
                const y =
                  element.getBoundingClientRect().top +
                  window.pageYOffset -
                  header.offsetHeight -
                  30;
                if (element) {
                  window.scrollTo({ top: +y, behavior: 'smooth' });
                }
              })

          const header2 = document.getElementById('item-2page');

          header2.addEventListener('click', function() {
              const element = document.getElementById("3_page"); %>
                const y =
                  element.getBoundingClientRect().top +
                  window.pageYOffset -
                  header.offsetHeight -
                  30;
                if (element) {
                  window.scrollTo({ top: +y, behavior: 'smooth' });
                }
              })
          const header3 = document.getElementById('item-3page');

          header3.addEventListener('click', function() {
              const element = document.getElementById("4_page");
                const y =
                  element.getBoundingClientRect().top +
                  window.pageYOffset -
                  header.offsetHeight -
                  30;
                if (element) {
                  window.scrollTo({ top: +y, behavior: 'smooth' });
                }
              })

          const header4 = document.getElementById('item-4page');

          header4.addEventListener('click', function() {
              const element = document.getElementById("5_page");
                const y =
                  element.getBoundingClientRect().top +
                  window.pageYOffset -
                  header.offsetHeight -
                  30;
                if (element) {
                  window.scrollTo({ top: +y, behavior: 'smooth' });
                }
              })

          const header5 = document.getElementById('item-5page');

          header5.addEventListener('click', function() {
              const element = document.getElementById("7_page");
                const y =
                  element.getBoundingClientRect().top +
                  window.pageYOffset -
                  header.offsetHeight -
                  30;
                if (element) {
                  window.scrollTo({ top: +y, behavior: 'smooth' });
                }
              })
        </script>
